.card {
  width: 70%;
  padding: 20px;
  margin-inline: auto;
  margin-block: 20px;
  background-color: var(--color-water);
}

.card--green {
  background-color: lightgreen;
}

.card--red {
  background-color: lightcoral;
}

.card--yellow {
  background-color: lightyellow;
}

.card--purple {
  background-color: rgba(255, 0, 255, 0.467);
}

.card--orange {
  background-color: rgba(255, 166, 0, 0.661);
}
